        <!-- 1depth 메뉴 시작 -->
        <nav class="sidebar__nav">
          <ul class="sidebar__content-menu" id="main-menu-list">
            <!-- 메뉴 항목: JavaScript에 의해 동적 생성 -->
          </ul>
          <div class="sidebar__quick-menu">
            <ul class="sidebar__quick-menu-list">
              <!-- 퀵메뉴 항목: /src/js/sidebar.js (initializeSidebar 함수)에 의해 동적 생성 -->
            </ul>
          </div>
        </nav>
        <!-- 2depth 메뉴 시작 -->
        <div class="sidebar__drawer scroll--common">
          <ul class="sidebar__menu" id="secondary-menu-list">
            <!-- 2뎁스 메뉴 항목: /src/js/sidebar.js (initializeSidebar 함수)에 의해 동적 생성 -->
          </ul>
        </div>
        <!-- 3뎁스 드로워 호스트 시작 -->
        <div id="sub-drawer-host" class="sidebar__sub-drawer-host">
          <!-- 3뎁스 메뉴 항목: /src/js/sidebar.js (initializeSidebar 함수)에 의해 동적 생성 -->
        </div>
        <!-- 4뎁스 드로워 호스트 추가 -->
        <div id="sub-sub-drawer-host" class="sidebar__sub-sub-drawer-host">
          <!-- 4뎁스 메뉴 항목: /src/js/sidebar.js (initializeSidebar 함수)에 의해 동적 생성 -->
        </div>
        <!-- 5뎁스 드로워 호스트 추가 -->
        <div id="sub-sub-sub-drawer-host" class="sidebar__sub-sub-sub-drawer-host">
          <!-- 5뎁스 메뉴 항목: /src/js/sidebar.js 에 의해 동적 생성 -->
        </div>
        <!-- 2 ~ 5depth 메뉴 끝 -->